<!DOCTYPE html>
<html lang="en" xmlns:c="https://jakarta.ee/xml/ns/jakartaee">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
<div class="container">
    <c:if test="${not empty message}">
        <script>
            alert("${message}")
        </script>
    </c:if>
    <h1>Thêm Sách Mới</h1>
    <form action="/books/add" method="post" >
        <input type="hidden" name="id" value="${book.id}">
        <label for="title">Tiêu Đề:</label>
        <input type="text" name="title" value="${book.title}" id="title"  required /><br/>
        <label for="author">Tác Giả:</label>
        <input type="text" name="author" value="${book.author}" id="author" required /><br/>
        <label for="price">Giá:</label>
        <input type="text" name="price" id="price" value="${book.price}" required /><br/>
        <input type="submit" value="Thêm Sách" />
    </form>
    <a href="/books" class="btn">Quay Lại</a>
</div>
</body>
</html>